*{
    background-color: rgb(236, 238, 217);
    
  }

  .btn{
   border: 2px solid wheat;
   align-items:center;

  }
  
  .connect{
     background-color: rgb(21, 34, 92);
     color: white;
     margin-left: 100PX;
  }